@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Black.woff2') format('woff2'),
        url('Aeonik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Regular.woff2') format('woff2'),
        url('Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Light.woff2') format('woff2'),
        url('Aeonik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Bold.woff2') format('woff2'),
        url('Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}